@model SignInViewModel

<div class="row offset-3 mt-5">

    <div class="col-6" style="width:60%">

        <div class="card">

            <div class="card-header fw-bold fs-4 text-center">
                Sign-In
            </div>

            <div class="card-body">

                <form method="post" asp-action="SignIn">

                    <div class="form-floating mb-2">
                        <input asp-for="Email" type="email" class="form-control" placeholder="name@example.com" />
                        <label asp-for="Email">Email Address</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                        <label asp-for="Password">Password</label>
                    </div>

                    <button class="btn btn-primary w-100 py-2" type="submit" asp-action="SignIn">Sign In</button>

                    <div class="text-center">
                        or
                        <a class="btn btn-warning my-3" asp-action="SignUp">Sign Up</a>
                    </div>

                </form>

            </div>

        </div>

    </div>

</div>