@page

<div class="text-center border rounded my-3">
    <div class="display-6">
        About Me
    </div>
    <div class="lead">
        <p>
            My name is Yusufcan Adıgüzel, and I am a passionate software developer with a strong background in backend development and game development. My journey into the world of software began in high school, and I have since continued to expand my knowledge in various software development fields, particularly in .Net and Flutter technologies.
        </p>
    </div>
</div>