<nav class="navbar border-bottom border-bottom navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand text-black fw-bold" asp-controller="Home" asp-action="Index">Library App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between" id="navbarNav">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-black" aria-current="page" asp-controller="Home" asp-action="Index">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" asp-area="Admin" asp-controller="Book" asp-action="Index">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" asp-area="Admin" asp-controller="Author" asp-action="Index">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" asp-area="Admin" asp-controller="User" asp-action="Index">Users</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li>
                    <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Index" target="_blank">
                        Web
                    </a>
                </li>
            </ul>


        </div>
    </div>
</nav>