@model Author

<div class="text-center">
    <div class="display-6 my-3">
        <i class="fa-solid fa-pencil"></i>
        Edit
    </div>
</div>

<form method="post" asp-action="Edit">
    <input type="hidden" asp-for="Id"/>

    <div class="form-group my-3">
        <label asp-for="FirstName">First Name</label>
        <input class="form-control" asp-for="FirstName"/>
    </div>

    <div class="form-group my-3">
        <label asp-for="LastName">Last Name</label>
        <input class="form-control" asp-for="LastName" />
    </div>

    <div class="form-group my-3">
        <label asp-for="DateOfBirth">Date of Birth</label>
        <input class="form-control" asp-for="DateOfBirth" />
    </div>

    <div class="btn-group">
        <a class="btn btn-outline-primary" asp-action="Index">
            <i class="fa-solid fa-left-arrow"></i>
            Back
        </a>
        <button class="btn btn-warning" asp-action="Edit">
            <i class="fa-solid fa-pencil"></i>
            Edit
        </button>
    </div>
</form>