@model AuthorDetailsViewModel

<div class="col-sm-12 col-md-6 col-lg-4 my-2">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@Model.FullName</h5>
            <a class="btn btn-primary" asp-area="" asp-controller="Author" asp-action="Index">
                <i class="fa-solid fa-arrow-left"></i>
                Back
            </a>
        </div>
    </div>
</div>