@model AuthorSoftDeleteDto

<div class="text-center my-3">
    <form method="post" asp-action="SoftDelete">
        <input type="hidden" asp-for="IsDeleted"/>
        <input type="hidden" asp-for="Id"/>

        <div class="card mx-auto" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Delete Author</h5>
                <h6 class="card-subtitle mb-2 text-muted">Are you sure?</h6>
                <button type="submit" class="btn btn-danger" asp-action="SoftDelete">Delete</button>
                <a class="btn btn-primary" asp-action="Index">Cancel</a>
            </div>
        </div>
    </form>
</div>