<nav class="navbar border-bottom border-bottom navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand text-black fw-bold" asp-controller="Home" asp-action="Index">Library App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between" id="navbarNav">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-black" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" asp-area="" asp-controller="Book" asp-action="Index">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" asp-area="" asp-controller="Author" asp-action="Index">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" asp-page="/AboutMe">About Me</a>
                </li>
            </ul>

            <ul class="navbar-nav my-2">
                <li>
                    <a class="btn btn-secondary mx-2" target="_blank" asp-area="Admin" asp-action="Index">
                        Admin
                    </a>
                </li>

                @if (User.Claims.FirstOrDefault(x => x.Type == "id")?.Value != null)
                {
                    <li>
                        <a class="btn btn-danger mx-2" asp-area="" asp-controller="Auth" asp-action="SignOut">Sign Out</a>
                    </li>
                }else
                {
                    <li>
                        <a class="btn btn-warning mx-2" asp-controller="Auth" asp-action="SignUp">SignUp</a>
                    </li>
                }
            </ul>


        </div>
    </div>
</nav>