@model Book

<form method="post" asp-action="Create">
    <input type="hidden" asp-for="Id"/>

    <div class="form-group my-3">
        <label asp-for="Title">Title</label>
        <input class="form-control" asp-for="Title"/>
    </div>

    <div class="form-group my-3">
        <label asp-for="AuthorId">Author</label>
        <select class="form-control" asp-items="@ViewBag.Authors" asp-for="AuthorId"></select>
    </div>

    <div class="form-group my-3">
        <label asp-for="Genre">Genre</label>
        <input class="form-control" asp-for="Genre" />
    </div>

    <div class="form-group my-3">
        <label asp-for="PublishDate">PublishDate</label>
        <input class="form-control" asp-for="PublishDate" />
    </div>

    <div class="form-group my-3">
        <label asp-for="ISBN">ISBN</label>
        <input class="form-control" asp-for="ISBN" />
    </div>

    <div class="form-group my-3">
        <label asp-for="CopiesAvailable">CopiesAvailable</label>
        <input class="form-control" asp-for="CopiesAvailable" />
    </div>

    <div class="btn-group">
        <a class="btn btn-outline-primary" asp-action="Index">
            <i class="fa fa-arrow"></i>
            Back
        </a>
        <button class="btn btn-success" type="submit" asp-action="Create">
            <i class="fa fa-save"></i>
            Save
        </button>
    </div>
</form>