@model Book

<div class="text-center my-3">
    <div class="card mx-auto" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Id - @Model.AuthorId</p>
            <a class="btn btn-primary" asp-action="Index">
                <i class="fa-solid fa-arrow-left"></i>
                Back
            </a>
        </div>
    </div>
</div>