@model List<Book>

<div class="text-center">
    <div class="display-6">Books</div>
</div>

<div class="row">
    <div class="col-md-9 row my-3">
        @foreach (var book in @Model)
        {
            <partial name="BookCard" model="@book" id="@book.Id"></partial>
        }
    </div>
</div>