@model Book

<form method="post" asp-action="Create">
    <input type="hidden" asp-for="Id" />

    <div class="form-floating mb-2 my-2">
        <input asp-for="Title" type="text" class="form-control" />
        <label asp-for="Title">Title</label>
    </div>

    <div class="form-floating mb-2 my-2">
        <label asp-for="AuthorId">Author</label>
        <select class="form-control" asp-for="AuthorId" asp-items="@ViewBag.Authors"></select>
    </div>

    <div class="form-floating mb-2 my-2">
        <input asp-for="Genre" type="text" class="form-control" />
        <label asp-for="Genre">Genre</label>
    </div>

    <div class="form-floating mb-2 my-2">
        <input asp-for="PublishDate" type="date" class="form-control" />
        <label asp-for="PublishDate">Publish Date</label>
    </div>

    <div class="form-floating mb-2 my-2">
        <input asp-for="ISBN" type="text" class="form-control" />
        <label asp-for="ISBN">ISBN</label>
    </div>

    <div class="form-floating mb-2 my-2">
        <input asp-for="CopiesAvailable" type="text" class="form-control" />
        <label asp-for="CopiesAvailable">Copies Available</label>
    </div>

    <div>
        <a class="btn btn-primary" asp-action="Index">
            <i class="fa fa-arrow-left"></i>
            Back
        </a>
        <button class="btn btn-success" type="submit" asp-action="Create">
            <i class="fa fa-save"></i>
            Save
        </button>
    </div>
</form>